<div class="home-wrapper justify-spacing-between">
  <%= link_to "Create Timesheet Entry", new_timesheet_path, class: "btn btn-outline-dark" %>

  <h3 class="mt-4 mb-4">Timesheet entries</h3>

  <table class="col-4 ml-3">
    <thead>
      <th>Date</th>
      <th>Start/Finish times</th>
      <th>Total pay</th>
    </thead>
    <% @timesheets.each do |timesheet| %>
    <tr>
      <td><%= timesheet.date.strftime("%d/%m/%Y : ")%></td>
      <td>
        <%= timesheet.start_time.strftime("%k:%M - ") %><%= timesheet.finish_time.strftime("%k:%M") %><%= @day_of_week %>
      </td>
      <td><%= number_to_currency(timesheet.total_pay) %></td>
    </tr>
    <% end %>
  </table>
</div>